.layout, .main-content {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  box-sizing: border-box;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 40px; /* Để tránh content bị che bởi fixed header */
  padding-bottom: 2rem;
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 40px;
} 